div.container {
    align-items: center;
    justify-content: center;
    padding-top: 12em;
    top:30%
}

p { 
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 120%;
 }

#name { 
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 500%;
 }

 hr {
     height: 2px;
     border-width: 0;
     color: black;
     background-color: black;
 }

  