div.container {
    align-items: center;
    justify-content: center;
}

p { 
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
 }
h1 { 
    text-align: center;
 }

 hr {
     height: 2px;
     border-width: 0;
     color: black;
     background-color: black;
 }

  